--- layout: default title: "" url: "" image: "" description: "" ---
<h1>Josh Boyan</h1>
<h2></h2>
<h2></h2>
<h2></h2>
<button><i></i></button>
</header>
<main role="main">
    <section id="bio">
        <p></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <p></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
    <!--/#bio-->
    <section id="portfolio">
        <div class="portfolio-item">
            <h3>Project Name</h3>
            <div class="img">
                <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi">
            </div>
            <button class="portfolio-button">
                <svg class="button-svg">
                    <path class="first-path" d="M5 25 L35 25"></path>
                    <path class="second-path" d="M20 10 L20 40"></path>
                </svg>
             </button>
            <h4>Project Type and Shorthand</h4>
            <ul>
                <li>Incredible, indespesible feature #1</li>
                <li>Incredible feature #2</li>
                <li>Incredible feature #3</li>
                <li>Incredible feature #4</li>
                <li>Incredible feature #5</li>
                <li><a href="joshboyan.com">Link to Site</a></li>
            </ul>
        </div>
        <div class="portfolio-item">
            <h3>Project Name</h3>
            <div class="img">
                <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi">
            </div>
            <button class="portfolio-button">
                <svg class="button-svg">
                    <path class="first-path" d="M5 25 L35 25"></path>
                    <path class="second-path" d="M20 10 L20 40"></path>
                </svg>
             </button>
            <h4>Project Type and Shorthand</h4>
            <ul>
                <li>Incredible, indespesible feature #1</li>
                <li>Incredible feature #2</li>
                <li>Incredible feature #3</li>
                <li>Incredible feature #4</li>
                <li>Incredible feature #5</li>
                <li><a href="joshboyan.com">Link to Site</a></li>
            </ul>
        </div>

    </section>
    <!--/#portfolio-->
    <aside>
        <div>
            <i>&laquo;</i>
            <i id="closeAside">&otimes;</i>
            <i>&raquo;</i>
            <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi" />
        </div>
        <div>
            <a href="joshboyan.com">Visit Site</a></div>
    </aside>
</main>
<footer role="contentinfo">
    <div class="col6">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="col6">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <section id="copy">
        <span><i class=""></i>Josh Boyan 2017</span>
    </section>