
<h1>Josh Boyan</h1>
<h2>Front-End Developer</h2>
<h2>UX/UI Designer</h2>
<h2>Problem Solver</h2>
<button><i></i>Hire Me</button>
</header>
<main role="main">
    <section id="bio">
        <p>I'm a digital native problem solver who is infatuated by web develpment and programming. The majority of my experience is on the LAMP stack using HTML5, SASS, ES2015 and Web APIs. I also have been developing on the MERN stack in my spare time. I use a variety of modern frameworks, libraries and build tools regardless of what stack I am working on. My main goals are to: </p>
        <ul>
            <li>Delight and engage users</li>
            <li>Solve business prolems</li>
            <li>Write accessible code and docs</li>
        </ul>
        <p>I have been working towards these goals with many projects that include: </p>
        <ul>
            <li>Progressive Web Apps</li>
            <li>Institutional CMS</li>
            <li>Small Business Websites</li>
        </ul>
        <p>Check out some of the projects I have been working on recently and reach out. I love to meet new people;)</p>
    </section>
    <!--/#bio-->
    <section id="portfolio">
        <div class="portfolio-item">
            <h3>Project Name</h3>
            <div class="img">
                <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi">
            </div>
            <button class="portfolio-button">
                <svg class="button-svg">
                    <path class="first-path" d="M5 25 L35 25"></path>
                    <path class="second-path" d="M20 10 L20 40"></path>
                </svg>
             </button>
            <h4>Project Type and Shorthand</h4>
            <ul>
                <li>Incredible, indespesible feature #1</li>
                <li>Incredible feature #2</li>
                <li>Incredible feature #3</li>
                <li>Incredible feature #4</li>
                <li>Incredible feature #5</li>
                <li><a href="joshboyan.com">Link to Site</a></li>
            </ul>
        </div>
        <div class="portfolio-item">
            <h3>Project Name</h3>
            <div class="img">
                <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi">
            </div>
            <button class="portfolio-button">
                <svg class="button-svg">
                    <path class="first-path" d="M5 25 L35 25"></path>
                    <path class="second-path" d="M20 10 L20 40"></path>
                </svg>
             </button>
            <h4>Project Type and Shorthand</h4>
            <ul>
                <li>Incredible, indespesible feature #1</li>
                <li>Incredible feature #2</li>
                <li>Incredible feature #3</li>
                <li>Incredible feature #4</li>
                <li>Incredible feature #5</li>
                <li><a href="joshboyan.com">Link to Site</a></li>
            </ul>
        </div>
        <div class="portfolio-item">
            <h3>Burrito Masala</h3>
            <div class="img">
                <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi">
            </div>
            <button class="portfolio-button">
                <svg class="button-svg">
                    <path class="first-path" d="M5 25 L35 25"></path>
                    <path class="second-path" d="M20 10 L20 40"></path>
                </svg>
             </button>
            <h4>Small Business Website</h4>
            <ul>
                <li>Mobile-first Responsive layout</li>
                <li>Burrito builder in-page app</li>
                <li>Twitter integration</li>
                <li>Custom Google Maps icon</li>
                <li>Photography editing</li>
                <li><a href="https://joshboyan.github.io/burrito-masala/">View Project</a><a href="https://github.com/joshboyan/burrito-masala">GitHub</a></li>
            </ul>
        </div>


    </section>
    <!--/#portfolio-->
    <aside>
        <div>
            <i>&laquo;</i>
            <i id="closeAside">&otimes;</i>
            <i>&raquo;</i>
            <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi" />
        </div>
        <div>
            <a href="joshboyan.com">Visit Site</a></div>
    </aside>
</main>
<footer role="contentinfo">
    <div class="col6">
        <ul>
            <li><a href="https://github.com/joshboyan"><i class=""></i>GitHub</a></li>
            <li><a href="https://www.npmjs.com/~joshboyan"><i class=""></i>npm</a></li>
            <li><a href="https://www.linkedin.com/in/joshboyan/"><i class=""></i>LinkedIn</a></li>
        </ul>
    </div>
    <div class="col6">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <section id="copy">
        <span><i class=""></i>Josh Boyan 2017</span>
    </section>